.about {
  background-color: var(--bg-main-grey);
  text-align: center;
  padding: 58px 100px;
}

.about-title {
  font-size: 34px;
  font-weight: 700;
  color: var(--color-main-black);
  margin: 0 0 42px 0;
}

.about-subtitle-ru,
.about-subtitle-en {
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto 15px 0;
  max-width: 780px;
  padding-left: 86px;
}

.about-description-ru,
.about-description-en {
  font-size: 18px;
  text-align: justify;
  font-weight: 500;
  margin: 0 auto 15px 0;
  max-width: 780px;
  display: flex;
  padding-left: 86px;
}



.about-description-en {
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
  margin: 0;
}

@media (max-width: 480px) {
  .about-subtitle-ru,
  .about-subtitle-en,
  .about-description-ru,
  .about-description-en {
    font-size: 14px;
    padding: 0 30px;
  }   
}

.about-subtitle-en {
  margin: 15px auto 15px 0;
}
