.contacts {
    padding: 55px 20px 63px;
    text-align: center;
}

.contacts-title {
    font-size: 34px;
    font-weight: 700;
    color: var(--color-main-black);
}
.contacts-button {
}
.button-link {
}
.socials {
}
.social-icon {
}
.contacts-info {
}